.number-range {
  display: inline-flex;
  width: 225px;
  min-height: 40px;
  align-items: stretch;
  input {
    flex: 1;
  }
  span {
    margin: 0 8px;
    display: inline-flex;
    align-items: center;
  }
}
